@model Forum_ASP.NET.Models.Discussion

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewData["Title"]</h2>

<div>
    <form asp-controller="Discussions" asp-action="Update" method="post" asp-route-id="@Model.DiscussionId">
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DiscussionName"></label>
            <input asp-for="DiscussionName" class="form-control" />
            <span asp-validation-for="DiscussionName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreatingDate"></label>
            <input asp-for="CreatingDate" class="form-control" />
            <span asp-validation-for="CreatingDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastDate"></label>
            <input asp-for="LastDate" class="form-control" />
            <span asp-validation-for="LastDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-default" value="Save" />
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}