@model IEnumerable<Forum_ASP.NET.Models.Discussion>
@{
    ViewBag.Title = "Discussion";
}

<h2>@ViewData["Title"]</h2>

<p>

</p>

<table class="table">
    <tr>
        <th>Author</th>
        <th>Comment</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <!--Html.DisplayFor(modelItem => item.Author.Where(item.DiscussionId.Equals(id)))-->
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstComment)
            </td>
        </tr>
    }
</table>