body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 320px;
}


/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }

    table {
        width: 100%;
        border-top: 2px solid #dddddd;
        border-bottom: 2px solid #dddddd;
    }

    th, td {
    border-bottom: 1px solid #dddddd;
    height: 50px;
    }

    table tr td:first-child {
        position: relative;
    }

    a.rowLink {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
    }

    a.rowLink:hover {
        background-color: #33ccff;
        opacity: 0.1;
    }
}